[
    {elvis, [
        {verbose, true},
        {config, [
            #{
                dirs => ["apps/**/src", "apps/**/include"],
                filter => "*.erl",
                ruleset => erl_files,
                rules => [
                    %% Common settings
                    {elvis_text_style, no_tabs},
                    {elvis_text_style, no_trailing_whitespace},
                    {elvis_style, macro_module_names},
                    {elvis_style, operator_spaces, #{rules => [{right, ","}, {right, "++"}, {left, "++"}]}},
                    {elvis_style, no_if_expression},
                    {elvis_style, used_ignored_variable},
                    {elvis_style, no_behavior_info},
                    {elvis_style, module_naming_convention, #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$"}},
                    {elvis_style, macro_names, #{regex => "^([a-zA-Z][a-zA-Z_0-9]+)$"}},
                    {elvis_style, function_naming_convention, #{regex => "^[a-z]([a-z0-9]*_?)*$"}},
                    {elvis_style, atom_naming_convention, #{
                        regex => "^[a-z]([a-zA-Z0-9]*_?)*$",
                        ignore => [ff_pipeline]
                    }},
                    {elvis_style, no_spec_with_records},
                    {elvis_text_style, line_length, #{limit => 120}},
                    {elvis_style, nesting_level, #{level => 4}},
                    {elvis_style, no_debug_call, #{}},
                    %% Project settings
                    {elvis_style, invalid_dynamic_call, #{
                        ignore => [
                            hg_proto_utils
                        ]
                    }},
                    {elvis_style, god_modules, #{
                        limit => 30,
                        ignore => [
                            hg_invoice_payment,
                            hg_client_invoicing,
                            ff_withdrawal,
                            ff_deposit
                        ]
                    }},
                    {elvis_style, state_record_and_type, #{
                        ignore => [
                            hg_profiler
                        ]
                    }},
                    {elvis_style, dont_repeat_yourself, #{
                        min_complexity => 32,
                        ignore => [
                            hg_routing
                        ]
                    }},
                    {elvis_style, max_function_arity, #{max_arity => 10}},
                    %% TODO Review modules for compliance with rules
                    {elvis_style, private_data_types, disable},
                    {elvis_style, export_used_types, disable},
                    {elvis_style, no_throw, disable},
                    {elvis_style, no_import, disable}
                ]
            },
            #{
                dirs => ["apps/**/test"],
                filter => "*.erl",
                ruleset => erl_files,
                rules => [
                    {elvis_text_style, no_tabs},
                    {elvis_text_style, no_trailing_whitespace},
                    {elvis_style, macro_module_names},
                    {elvis_style, operator_spaces, #{rules => [{right, ","}, {right, "++"}, {left, "++"}]}},
                    {elvis_style, module_naming_convention, #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$"}},
                    {elvis_style, function_naming_convention, #{regex => "^[a-z]([a-z0-9]*_?)*$"}},
                    {elvis_style, macro_names, #{regex => "^([a-zA-Z][a-zA-Z_0-9]+)$"}},
                    {elvis_style, atom_naming_convention, #{regex => "^[a-z]([a-zA-Z0-9]*_?)*$"}},
                    {elvis_text_style, line_length, #{limit => 120}},
                    {elvis_style, nesting_level, #{level => 4}},
                    {elvis_style, no_if_expression, disable},
                    {elvis_style, invalid_dynamic_call, #{
                        ignore => [
                            ff_ct_provider_handler,
                            ff_ct_barrier,
                            ff_ct_machine
                        ]
                    }},
                    % We want to use `ct:pal/2` and friends in test code.
                    {elvis_style, no_debug_call, disable},
                    % Assert macros can trigger use of ignored binding, yet we want them for better
                    % readability.
                    {elvis_style, used_ignored_variable, disable},
                    {elvis_style, state_record_and_type, disable},
                    % Tests are usually more comprehensible when a bit more verbose.
                    {elvis_style, dont_repeat_yourself, #{
                        min_complexity => 50,
                        ignore => [
                            hg_route_rules_tests_SUITE,
                            hg_invoice_tests_SUITE,
                            hg_allocation_tests,
                            hg_invoice_helper
                        ]
                    }},
                    {elvis_style, no_block_expressions, #{
                        ignore => [
                            hg_invoice_template_tests_SUITE,
                            hg_invoice_tests_SUITE,
                            ff_withdrawal_SUITE
                        ]
                    }},
                    {elvis_style, god_modules, #{
                        ignore => [
                            ff_withdrawal_handler_SUITE,
                            ff_withdrawal_SUITE,
                            hg_ct_fixture,
                            hg_ct_helper,
                            hg_invoice_helper,
                            hg_invoice_tests_SUITE,
                            hg_invoice_template_tests_SUITE,
                            hg_direct_recurrent_tests_SUITE
                        ]
                    }},
                    {elvis_style, no_debug_call, #{}},
                    {elvis_style, no_throw, disable},
                    {elvis_style, no_import, disable},
                    {elvis_style, private_data_types, disable},
                    {elvis_style, export_used_types, disable}
                ]
            },
            #{
                dirs => ["."],
                filter => "Makefile",
                ruleset => makefiles
            },
            #{
                dirs => ["."],
                filter => "elvis.config",
                ruleset => elvis_config
            },
            #{
                dirs => [".", "apps/*"],
                filter => "rebar.config",
                ruleset => rebar_config,
                rules => [
                    {elvis_text_style, line_length, #{limit => 120}},
                    {elvis_text_style, no_tabs},
                    {elvis_text_style, no_trailing_whitespace},
                    %% Temporarily disabled till regex pattern is available
                    {elvis_project, no_deps_master_rebar, disable},
                    {elvis_project, no_branch_deps, disable}
                ]
            },
            #{
                dirs => ["apps/*/src"],
                filter => "*.app.src",
                rules => [
                    {elvis_text_style, line_length, #{limit => 120}},
                    {elvis_text_style, no_tabs},
                    {elvis_text_style, no_trailing_whitespace}
                ]
            }
        ]}
    ]}
].
