[
    {kernel, [
        {log_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                level => all,
                config => #{
                    type => standard_io
                }
                %% formatter =>
                %%    {logger_logstash_formatter, #{}}
            }}
        ]}
    ]},

    {dmt, [
        {host, <<"dmt">>},
        {port, 8022},
        {scoper_event_handler_options, #{
            event_handler_opts => #{
                formatter_opts => #{
                    max_length => 1000
                }
            }
        }},
        {services, #{
            repository => #{
                url => <<"http://dmt:8022/v1/domain/repository">>
            },
            repository_client => #{
                url => <<"http://dmt:8022/v1/domain/repository_client">>
            },
            author => #{
                url => <<"http://dmt:8022/v1/domain/author">>
            }
        }}
    ]},

    {woody, [
        {acceptors_pool_size, 4}
    ]},

    {epg_connector, [
        {databases, #{
            default_db => #{
                host => "db",
                port => 5432,
                username => "dmt",
                password => "postgres",
                database => "dmt"
            }
        }},
        {pools, #{
            default_pool => #{
                database => default_db,
                size => 10
            },
            author_pool => #{
                database => default_db,
                size => 10
            }
        }}
    ]},

    {scoper, [
        {storage, scoper_storage_logger}
    ]},

    {prometheus, [
        {collectors, [
            default
        ]}
    ]}
].
