{src_dirs, ["src"]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_missing_spec
]}.

{deps, [
    {gproc, "0.9.0"},
    {woody, {git, "https://github.com/valitydev/woody_erlang.git", {tag, "v1.1.2"}}},
    {party_client, {git, "https://github.com/valitydev/party-client-erlang.git", {tag, "v2.0.1"}}}
]}.
