[
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                config => #{
                    type => standard_io,
                    sync_mode_qlen => 5000,
                    drop_mode_qlen => 5000,
                    flush_qlen => 10000,
                    burst_limit_enable => false
                },
                formatter =>
                    {logger_logstash_formatter, #{
                        log_level_map => #{
                            emergency => 'ERROR',
                            alert => 'ERROR',
                            critical => 'ERROR',
                            error => 'ERROR',
                            warning => 'WARN',
                            notice => 'INFO',
                            info => 'INFO',
                            debug => 'DEBUG'
                        }
                    }}
            }}
        ]}
    ]},

    {hg_proto, [
        {services, #{
            limiter => "http://limiter:8022/v1/limiter",
            automaton => "http://machinegun:8022/v1/automaton",
            eventsink => "http://machinegun:8022/v1/event_sink",
            accounter => "http://shumway:8022/accounter",
            party_management => "http://party-management:8022/v1/processing/partymgmt",
            customer_management => "http://cubasty:8022/v1/customer/management",
            bank_card_storage => "http://cubasty:8022/v1/customer/bank_card",
            % TODO make more consistent
            recurrent_paytool => "http://hellgate:8022/v1/processing/recpaytool",
            fault_detector => "http://fault-detector:8022/v1/fault-detector",
            rate_boss => "http://rate-boss:8022/v1/ex-rate"
        }}
    ]},

    {hellgate, [
        {ip, "::"},
        {port, 8022},
        {default_woody_handling_timeout, 30000},
        %% 1 sec above cowboy's request_timeout
        {shutdown_timeout, 7000},
        {protocol_opts, #{
            % Bump keepalive timeout up to a minute
            request_timeout => 6000,
            % Should be greater than any other timeouts
            idle_timeout => infinity
        }},
        {scoper_event_handler_options, #{
            event_handler_opts => #{
                formatter_opts => #{
                    max_length => 1000
                },
                events_severity => #{
                    %% Maybe disregard those events by lowering their severity level
                    ['call service'] => info,
                    ['service result'] => info,
                    ['invoke service handler'] => info,
                    ['service handler result'] => info,
                    ['service handler result', error, business] => warning,
                    ['client cache hit'] => info
                }
            }
        }},
        {proxy_opts, #{
            transport_opts => #{}
        }},
        {health_check_liveness, #{
            disk => {erl_health, disk, ["/", 99]},
            memory => {erl_health, cg_memory, [70]},
            service => {erl_health, service, [<<"hellgate">>]}
        }},
        {health_check_readiness, #{
            dmt_client => {dmt_client, health_check, []},
            progressor =>
                {progressor, health_check, [
                    %% list of progressors namespaces for tests
                    [invoice_template]
                ]}
        }},
        {payment_retry_policy, #{
            processed => {exponential, {max_total_timeout, 30}, 2, 1},
            captured => no_retry,
            refunded => no_retry
        }},
        {inspect_timeout, 3000},
        {payment, #{
            % Payment error codes that signals hellgate to attempt another route
            % (default = [<<"preauthorization_failed">>])
            default_transient_errors => [<<"preauthorization_failed">>]
        }},
        {fault_detector, #{
            enabled => true,
            % Woody RPC request timeout (ms).
            timeout => 4000,
            % How to measure technical availability of providers?
            availability => #{
                % We consider provider as _unavailable_ if their failrate is greater than this
                % threshold (0.0 is no failures at all / 1.0 is every attempt to interact fails).
                critical_fail_rate => 0.7,
                % For how long to account operations in failrate computation (ms)?
                sliding_window => 60000,
                % If operation takes too long, when do we consider it as failure (ms)?
                operation_time_limit => 10000,
                % With which time resolution we should compute failrate (s)?
                % Less means quicker reaction to failures at the cost of increased load on service.
                pre_aggregation_size => 2
            },
            % How to measure providers' conversion (aka business availability)?
            conversion => #{
                % Which business level error codes aren't treated as failures?
                benign_failures => [
                    insufficient_funds,
                    rejected_by_issuer,
                    processing_deadline_reached
                ],
                % We consider provider as _unavailable_ if their failrate is greater than this
                % threshold (0.0 is no failures at all / 1.0 is every attempt to interact fails).
                critical_fail_rate => 0.7,
                % For how long to account operations in failrate computation (ms)?
                sliding_window => 60000,
                % If operation takes too long, when do we consider it as failure (ms)?
                operation_time_limit => 1200000,
                % With which time resolution we should compute failrate (s)?
                % Less means quicker reaction to failures at the cost of increased load on service.
                pre_aggregation_size => 2
            }
        }},
        {binding, #{
            max_sync_interval => <<"5s">>,
            outdated_sync_interval => <<"1440m">>,
            outdate_timeout => <<"180m">>
        }},
        %% progressor | machinegun
        {backend, progressor}
    ]},

    {scoper, [
        {storage, scoper_storage_logger}
    ]},

    {epg_connector, [
        {databases, #{
            default_db => #{
                host => "db",
                port => 5432,
                database => "hellgate_fistful",
                username => "hellgate_fistful",
                password => "postgres"
            }
        }},
        {pools, #{
            default_pool => #{
                database => default_db,
                size => {6, 12}
            },
            invoice_base_pool => #{
                database => default_db,
                size => 52
            },
            invoice_front_pool => #{
                database => default_db,
                size => {12, 72}
            },
            invoice_scan_pool => #{
                database => default_db,
                size => 2
            }
        }}
    ]},

    {bender_client, [
        {services, #{
            'Bender' => <<"http://bender:8022/v1/bender">>,
            'Generator' => <<"http://bender:8022/v1/generator">>
        }},
        {deadline, 60000}
        %{retries, #{
        %    'GenerateID' => finish,
        %    'GetInternalID' => finish,
        %    '_' => finish
        %}}
    ]},

    {snowflake, [
        % 1 second
        {max_backward_clock_moving, 1000},
        {machine_id, hostname_hash}
    ]},

    {os_mon, [
        % for better compatibility with busybox coreutils
        {disksup_posix_only, true}
    ]},

    {prometheus, [
        {collectors, [default]}
    ]},

    {hackney, [
        {mod_metrics, woody_hackney_prometheus}
    ]},

    {canal, [
        {url, "http://vault"},
        {engine, kvv2}
    ]},

    {party_client, [
        {services, #{
            party_management => "http://party-management:8022/v1/processing/partymgmt"
        }},
        {woody, #{
            % disabled | safe | aggressive
            cache_mode => safe,
            options => #{
                woody_client => #{
                    event_handler =>
                        {scoper_woody_event_handler, #{
                            event_handler_opts => #{
                                formatter_opts => #{
                                    max_length => 1000
                                },
                                events_severity => #{
                                    %% Was 'info'
                                    ['service handler result', error, business] => warning
                                }
                            }
                        }}
                }
            }
        }}
    ]},

    {dmt_client, [
        % milliseconds
        {cache_update_interval, 5000},
        {max_cache_size, #{
            elements => 20,
            % 50Mb
            memory => 52428800
        }},
        {woody_event_handlers, [
            {scoper_woody_event_handler, #{
                event_handler_opts => #{
                    formatter_opts => #{
                        max_length => 1000
                    },
                    events_severity => #{
                        %% Was 'info'
                        ['service handler result', error, business] => warning
                    }
                }
            }}
        ]},
        {service_urls, #{
            'AuthorManagement' => <<"http://dmt:8022/v1/domain/author">>,
            'Repository' => <<"http://dmt:8022/v1/domain/repository">>,
            'RepositoryClient' => <<"http://dmt:8022/v1/domain/repository_client">>
        }}
    ]},

    {fistful, [
        {provider, #{
            <<"ncoeps">> => #{
                payment_institution_id => 100,
                contract_template_id => 10000,
                contractor_level => full
            },
            <<"test">> => #{
                payment_institution_id => 1,
                contract_template_id => 1,
                contractor_level => full
            }
        }},
        {services, #{
            'accounter' => "http://shumway:8022/accounter",
            'limiter' => "http://limiter:8022/v1/limiter",
            'validator' => "http://validator:8022/v1/validator_personal_data",
            'party_config' => "http://party-management:8022/v1/processing/partycfg"
        }}
    ]},

    {ff_transfer, [
        %% 4h
        {max_session_poll_timeout, 14400},
        {withdrawal, #{
            default_transient_errors => [
                <<"authorization_failed:temporarily_unavailable">>
            ],
            party_transient_errors => #{
                <<"ExamplePartyID">> => [
                    <<"account_limit_exceeded:amount">>,
                    <<"authorization_failed:destination_rejected">>
                ]
            }
        }}
    ]},

    {ff_server, [
        {ip, "::"},
        {port, 8022},
        {default_woody_handling_timeout, 30000},
        {net_opts, [
            % Bump keepalive timeout up to a minute
            {timeout, 60000}
        ]},
        {scoper_event_handler_options, #{
            event_handler_opts => #{
                formatter_opts => #{
                    max_length => 1000,
                    max_printable_string_length => 80
                }
            }
        }},
        {health_check_liveness, #{
            disk => {erl_health, disk, ["/", 99]},
            memory => {erl_health, cg_memory, [99]},
            service => {erl_health, service, [<<"fistful-server">>]}
        }},
        {health_check_readiness, #{
            dmt_client => {dmt_client, health_check, []},
            progressor =>
                {progressor, health_check, [
                    %% list of progressors namespaces for tests
                    [
                        'ff/source_v1',
                        'ff/destination_v2',
                        'ff/deposit_v1',
                        'ff/withdrawal_v2',
                        'ff/withdrawal/session_v2'
                    ]
                ]}
        }}
    ]},

    {progressor, [
        {call_wait_timeout, 20},
        {defaults, #{
            storage => #{
                client => prg_pg_backend,
                options => #{
                    pool => default_pool
                }
            },
            retry_policy => #{
                initial_timeout => 5,
                backoff_coefficient => 1.0,
                %% seconds
                max_timeout => 180,
                max_attempts => 3,
                non_retryable_errors => []
            },
            worker_pool_size => 100,
            task_scan_timeout => 15,
            process_step_timeout => 60
        }},
        {namespaces, #{
            'invoice' => #{
                processor => #{
                    client => prg_machine,
                    options => #{
                        ns => invoice
                    }
                },
                storage => #{
                    client => prg_pg_backend,
                    options => #{
                        pool => invoice_base_pool,
                        front_pool => invoice_front_pool,
                        scan_pool => invoice_scan_pool
                    }
                },
                worker_pool_size => 200
            },
            'invoice_template' => #{
                processor => #{
                    client => prg_machine,
                    options => #{
                        ns => invoice_template
                    }
                },
                worker_pool_size => 5
            },
            'ff/source_v1' => #{
                processor => #{
                    client => prg_machine,
                    options => #{
                        ns => 'ff/source_v1'
                    }
                }
            },
            'ff/destination_v2' => #{
                processor => #{
                    client => prg_machine,
                    options => #{
                        ns => 'ff/destination_v2'
                    }
                }
            },
            'ff/deposit_v1' => #{
                processor => #{
                    client => prg_machine,
                    options => #{
                        ns => 'ff/deposit_v1'
                    }
                }
            },
            'ff/withdrawal_v2' => #{
                processor => #{
                    client => prg_machine,
                    options => #{
                        ns => 'ff/withdrawal_v2'
                    }
                }
            },
            'ff/withdrawal/session_v2' => #{
                processor => #{
                    client => prg_machine,
                    options => #{
                        ns => 'ff/withdrawal/session_v2'
                    }
                }
            }
        }}
    ]},

    {limiter, [
        {ip, "::"},
        {port, 8022},
        {services, #{
            limiter => #{
                path => <<"/v1/limiter">>
            },
            configurator => #{
                path => <<"/v1/configurator">>
            }
        }},
        {service_clients, #{
            liminator => #{
                url => <<"http://liminator:8022/liminator/v1">>
            },
            accounter => #{
                url => <<"http://shumway:8022/accounter">>
            },
            automaton => #{
                url => <<"http://machinegun:8022/v1/automaton">>
            },
            xrates => #{
                url => <<"http://xrates:8022/xrates">>
            }
        }},

        {exchange_factors, #{
            <<"DEFAULT">> => {1, 1},
            <<"USD">> => {105, 100},
            <<"EUR">> => {12, 10}
        }},

        {protocol_opts, #{
            % How much to wait for another request before closing a keepalive connection? (ms)
            request_timeout => 5000,
            % Should be greater than any other timeouts
            idle_timeout => infinity
        }},
        {transport_opts, #{
            % Maximum number of simultaneous connections. (default = 1024)
            max_connections => 8000,
            % Size of the acceptor pool. (default = 10)
            num_acceptors => 100
        }},
        % How much to wait for outstanding requests completion when asked to shut down? (ms)
        {shutdown_timeout, 1000},

        {woody_event_handlers, [
            {scoper_woody_event_handler, #{
                event_handler_opts => #{
                    formatter_opts => #{
                        max_length => 1000,
                        max_printable_string_length => 80
                    }
                }
            }}
        ]},

        {scoper_event_handler_options, #{
            event_handler_opts => #{
                formatter_opts => #{
                    max_length => 1000,
                    max_printable_string_length => 80
                }
            }
        }},

        {health_check, #{
            % disk    => {erl_health, disk     , ["/", 99]},
            % memory  => {erl_health, cg_memory, [99]},
            % service => {erl_health, service  , [<<"limiter">>]}
        }}
    ]}
].
